.common{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.common-name{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.header{
    height: 60px;
    background-color: white;
    color: black;
    line-height: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    text-align: center;
}

.Skills{
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.skills{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(16, 16, 146);
}

body{
    background-color: rgb(241, 245, 255);
}

.footer{
    height: 25px;
    font-size: 10px;
    color: black;
    background-color: white;
    position: fixed;
    bottom: 0px;
    right: 5px;
    left: 5px;
    padding-top: 15px;
}

ul{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ol{
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
  
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.video{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.video-title{
    color: rgb(16, 16, 146);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.tableau-title{
    color:rgb(16, 16, 146);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav{
    background-color: white;
    padding: 5px;
    overflow: hidden;
}

nav a{
    float: left;
    color: black;
    padding: 5px 13px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

nav a:hover{
    background-color: #ccc
}

div.container {
    text-align: center;
  }
  
  ol.myUL {
    display: inline-block;
    text-align: left;
  }

  .tableauPlaceholder{
    display: inline-table;
    text-align: center;
    width: 25%;
    height: 25%;
    margin-right: auto;
    margin-left: auto;
  }